@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,300);

body {
  background-color: #000;
  color: #fff;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 1.25rem;

  overflow: hidden;
}

.terminal {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
    text-align: justify;
}

.muted {
  filter: blur(1px);
}
